@using System.Collections.Generic
@using AspNetCore.Entity
@using AspNetCore.Web.Extensions
@using AspNetCore.Web.Models.TestViewModels
@using Kendo.Mvc.UI
@model IList<TestGridViewModel>

@{
    ViewBag.Title = "Test Kendo";

}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().ListView<TestGridViewModel>(Model)
      .Name("listView")
      .TagName("div")
      .Pageable()
      .Deferred()
      )

@section Scripts{ 
@Html.Kendo().DeferredScripts()
    <script>
        
        
    </script>
}


